In [1]:
import pandas as pd

# Introducción

En este laboratorio queremos que aprendas e investigues algunos conceptos en el contexto de Pandas: **concatenar**, **unir** y **fusionar**. Queremos revisar estos conceptos porque hará que el trabajo posterior en la transformación de los conjuntos de datos sea mucho más eficiente.

# Tutorial sobre Concat, Merge y Join

## Concatenando

Concatenar dos dataframes combina dos dataframes de modo que añadimos las filas de un dataframe al final del otro. Nuestros nombres de columnas tienen que ser idénticos para que esta función funcione correctamente.

A continuación, se muestra un ejemplo de la función `concat()` en pandas

https://pandas.pydata.org/docs/reference/api/pandas.concat.html

In [2]:
df1 = pd.DataFrame({'A': ['a'+str(x) for x in range(3)],
                    'B': ['b'+str(x) for x in range(3)],
                    'C': ['c'+str(x) for x in range(3)]},
                     index=[0, 1, 2])

df2 = pd.DataFrame({'A': ['a'+str(x) for x in range(3, 6)],
                    'B': ['b'+str(x) for x in range(3, 6)],
                    'C': ['c'+str(x) for x in range(3, 6)]},
                     index=[3, 4, 5]) 

df3 = pd.DataFrame({'D': ['d'+str(x) for x in range(3)],
                    'E': ['e'+str(x) for x in range(3)],
                    'F': ['f'+str(x) for x in range(3)]},
                     index=[0, 1, 2]) 

df4 = pd.DataFrame({'D': ['d'+str(x) for x in range(3, 6)],
                    'E': ['e'+str(x) for x in range(3, 6)],
                    'F': ['f'+str(x) for x in range(3, 6)]},
                     index=[3, 4, 5]) 

# print(df1, '\n---\n', df2, '\n---\n', df3, '\n---\n',df4)

Vamos a intentar concatenar `df1` y `df2`, así como `df3` y `df4`.

In [3]:
# your code here

Del resultado anterior, ves que el segundo dataframe se añade al final del primero.

Ahora intentemos concatenar `df1`, `df2`, `df3` y `df4` todos juntos.

Nota que se suministra el parámetro `sort=False` para silenciar un mensaje de advertencia sobre un cambio futuro en Pandas. No hace ninguna diferencia en el resultado.

In [4]:
# your code here

¿Qué encontramos?

* El método `concat` de Pandas respeta los índices de todos los ejes.
    * Debido a que `df3` y `df4` tienen índices de columnas diferentes a `df1` y `df2`, `concat` los colocó en columnas diferentes.
    * `df3` y `df4` también retienen sus índices de fila originales de 0-5 en lugar de continuar desde el último índice de `df2`.
* `concat` crea `NaN` en los lugares donde faltan valores.

Intenta también suministrar `ignore_index=True` a `concat`. ¿Cómo es diferente el resultado?

In [5]:
# tu código aquí

## Fusionando y Uniendo

Pandas tiene dos funciones para unir conjuntos de datos: `merge()` y `join()`. Realizan la misma tarea pero tienen diferentes opciones y sintaxis.

A continuación, se muestra un ejemplo de `merge` y `join`.
SUGERENCIA (usa la columna que se repite en ambos dataframes)

https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.merge.html

In [6]:
left = pd.DataFrame({'idx': ['i'+str(x) for x in range(3)],
                     'A': ['a'+str(x) for x in range(3)],
                     'B': ['b'+str(x) for x in range(3)]})


right = pd.DataFrame({'idx': ['i'+str(x) for x in range(1,4)],
                     'C': ['c'+str(x) for x in range(1,4)],
                     'D': ['d'+str(x) for x in range(1,4)]})

In [7]:
left

  idx   A   B
0  i0  a0  b0
1  i1  a1  b1
2  i2  a2  b2

In [8]:
right

  idx   C   D
0  i1  c1  d1
1  i2  c2  d2
2  i3  c3  d3

`join` es idéntico a `merge`. Pero al usar join, necesitamos establecer explícitamente la columna de índice de los dataframes para unir usando `set_index`:

https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.join.html

In [9]:
# tu código aquí

Y como ves, `join` descarta la fila de `right` con el índice no coincidente `i3`. Retiene la fila de `left` con el índice no coincidente `i0` pero usa `NaN` para los datos faltantes después de unirse.

#### Hay otras opciones que podemos explorar con las funciones `merge()` y `join()`.

Específicamente, podemos especificar `how`. Este argumento en la función nos indica si estamos realizando una unión interna, izquierda, derecha o externa.

También podemos especificar una columna diferente para unir en la función `merge()` usando los argumentos `left_on` y `right_on`. Consulta las siguientes documentaciones si quieres explorar más:

[pandas.DataFrame.merge](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.merge.html)

[pandas.DataFrame.join](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.join.html)

## Pregunta Bonus

Ahora, si miras atrás en `merge` y `join`, te das cuenta de que para realizar estas funciones en un conjunto de dataframes, estos dataframes deben compartir una columna común como índice. Solo las filas que tienen los mismos valores de índice se unirán. Esto es similar a la [función `join` en MySQL](https://www.w3schools.com/sql/sql_join.asp), ¿no es así?

La pregunta de bonificación para ti es averiguar cómo unir y concatenar `df1`, `df2`, `df3` y `df4` que creamos al principio de este desafío. Tu producto final debería verse así:

![df1-2-3-4.png](../images/df1-2-3-4.png)

In [10]:
# tu código aquí